Package: php5-facedetect
Source: php5
Version: 5.5.0-1~one2team.1
Architecture: amd64
Maintainer: Johnny Funt <johnny@one2team.ru>
Pre-Depends: dpkg (>= 1.15.7.2~)
Depends: libc6 (>= 2.4), libopencv-core2.3, libopencv-objdetect2.3, phpapi-20121212, php5-common (= 5.5.0-1~dotdeb.1)
Section: Web
Priority: optional
Homepage: http://www.php.net/
Description: Facedetect module for php5
 Facedetect
 Robert Eisele
 .
 PHP (recursive acronym for PHP: Hypertext Preprocessor) is a widely-used
 open source general-purpose scripting language that is especially suited
 for web development and can be embedded into HTML.
